.jumbotron {
    position: relative !important;
    background-color: #ccc !important;
}
.panel-green {
    border-color: #5cb85c;
    color: white;
    background-color: #5cb85c;
}
.panel-yellow {
    border-color: #f0ad4e;
    color: white;
    background-color: #f0ad4e;
}
.size-font-30 {
    font-size: 30px !important;
}

.hide-this-element {
    display: none;
}
table {
    width: 100%;
    background-color: #ffffff;
}
thead th {
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
    color: #888;
}
th, td {
    padding: .5em 1em;
    text-align: right;
}
th:first-child,
td:first-child {
    text-align: left;
}
tbody th, td {
    border-bottom: 1px solid #e6e6e6;
}
.modal-larger {
    width: 1120px !important;
}
canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
body {
    margin: 0;
    font:normal 75% Arial, Helvetica, sans-serif;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.92);
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

