.panel-green {
    border-color: #5cb85c;
    color: white;
    background-color: #5cb85c;
}
.panel-yellow {
    border-color: #f0ad4e;
    color: white;
    background-color: #f0ad4e;
}
.margin-btm {
    margin-bottom: 1em;
}
.no-pad {
    padding: 0;
}
.bg-color-white {
    background-color: #fff !important;
    /*padding: 1em 0 1em 0;*/
}
.size-font-30 {
    font-size: 30px !important;
}

.hide-this-element {
    display: none;
}
/* for tables */
table {
    width: 100%;
    /*font-size: 1.2em;*/
}
thead th {
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
    color: #888;
}
th, td {
    padding: .5em 1em;
    text-align: right;
}
th:first-child,
td:first-child {
    text-align: left;
}
tbody th, td {
    border-bottom: 1px solid #e6e6e6;
}